/**
 * WPCV WooCommerce CiviCRM "Migrate Page" Styles
 *
 * Implements styling for the WPCV WooCommerce CiviCRM "Migrate Page".
 *
 * @package WPCV_Woo_Civi
 */


/* Admin Screen setup
----------------------------------*/
#wpcv_woocivi_info h4 {
    font-size: 1.1em;
}

#wpcv_woocivi_info p, #wpcv_woo_civi_info ul li {
    font-size: 14px;
}

#wpcv_woocivi_info code {
    font-size: 13px;
}

#wpcv_woocivi_info ul {
	list-style: disc;
	padding-left: 20px;
}
